<div class="container">
    <div class="centered">
        <h1 align = "center">Alzheimer's Disease Detection</h1>
        <br/>
        <form action="/predict" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="formFile" class="form-label"></label>
                <input class="form-control" type="file" id="formFile" name="imagefile">
            </div>
            <br/>
            <button class="btn btn-dark" type="submit">Upload</button>
        </form>
    </div>
</div>